
@{
    ViewBag.Title = "Index";
}
<link href="../Content/StyleSheet.css" rel="stylesheet" />
<h1>Sacred Knowledge Library</h1>
<h1>Welcome to Our Library</h1>

@Html.ActionLink("Login", "Login", "Login")

