
@{
    ViewBag.Title = "Create";
}

<link href="../Content/StyleSheet.css" rel="stylesheet" />
<h1>Sacred Knowledge Library</h1>
<h2>You have registered successfully to Library</h2>

@Html.ActionLink("Click here to login", "Login", "Login")